# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Dataset, model, weights
*.h5
*.json
*.csv
*.pkl
*.npz

# Notebook checkpoints
.ipynb_checkpoints/

# Test outputs
test/output/

# Presentation / Docs
*.pdf
*.pptx
